.idea/*
__pycache__/
*.egg-info/
downloads/*
*.jsonl
downloads/*
output/*
src/*.log
data/*
*.log
.ipynb_checkpoints/*
output/*
push.sh
.nfs00*
task2.sh
task1_2.sh
task2_*/*
lgb/code/feature/*
lgb/code/data/*